.wrapper {
  position: relative;
  background-color: var(--mantine-color-brand-1);
  background-image: 
    radial-gradient(at 10% 10%, #cddaf2 0px, transparent 50%),
    radial-gradient(at 90% 90%, #ebebe0 0px, transparent 50%), 
    radial-gradient(at 89% 20%, rgb(177, 245, 199) 0px, transparent 50%),
    radial-gradient(at 20% 100%, #dae2f0 0px, transparent 50%);
  max-width: 100%;
  width: 100%;
  
  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: 0;
    /* rem(80px); */
    padding-bottom: 0;
    /* rem(80px); */
  }
}

.center {
  padding-top: rem(120px);
  padding-bottom: rem(120px);
  
  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: 0;
    /* rem(80px); */
    padding-bottom: 0;
    /* rem(80px); */
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: rem(48px);
  letter-spacing: -1px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: var(--mantine-spacing-xs);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.highlight {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
}

.description {
  text-align: center;

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.controlButtons {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.controls {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;
}

.control {
  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}