@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.article {
  max-width: 700px;
}

.article h1, 
.article h2, 
.article h3, 
.article h4, 
.article h5, 
.article h6 {
  font-family: 'Montserrat', sans-serif;
}

h1.title { 
  margin-top: inherit !important;
}

.article h1 { 
  font-size: 28px;
  margin-top: 36px;
}

.article h2 { 
  font-size: 24px;
  margin-top: 24px;
}

.article h3,
.article h4,
.article h5,
.article h6 { 
  margin-top: 20px;
}

.article p {
  margin-top: 14px;
}

.article img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.article pre {
  border: 1px solid #E5E5E5;
  background: #F9F9F9;
  padding: 32px;
  margin-top: 56px;
  margin-bottom: 56px;
}